<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<body>

<h2 th:text="${welcome}">計算ドリルクリエーター</h2>
<p>作成したいドリルの数を入力してください</p>
<form method="get" action="/">
    <input type="text" name="plusCnt"/>
    <input type="text" name="minusCnt"/>
    <input type="submit"/>
</form>
<form method="get" action="/aaaa">
    <div th:each="drill:${drillList}">
        <p th:text="${drill.getOperand()}"></p><input type="text" name="answer"/>
        <input type="submit"/>
    </div>
</form>
</body>

</html>